<div class="product-prev">
	<div class="product-prev__header">
		<div class="js-product-prev__slider prev-2">
			<img src="img/content/products/benefits/8521-R.jpg" alt="Самокат Smiley Mini 8521 (красный)">
		</div>
	</div>
	<div class="product-prev__body">
		<div class="product-prev__info">
			<span class="product-prev__title">Самокат Smiley Mini 8521 (красный)</span>
			<span class="product-prev__country">Германия</span>
		</div>
		<div class="product-prev__price">
			<span class="product-prev__price-current">1500 грн.</span>
		</div>
	</div>
	<div class="product-prev__footer">
		<button class="btn">В корзину</button>
	</div>
</div>