<div class="product-prev">
	<div class="product-prev__header">
		<div class="js-product-prev__slider prev-1">
			<img src="img/content/products/benefits/452-110.jpg" alt="Самокат Globber Evo 4 in 1 Lights">
		</div>
	</div>
	<div class="product-prev__body">
		<div class="product-prev__info">
			<span class="product-prev__title">Самокат Globber Evo 4 in 1 Lights (светящиеся колеса) розовый</span>
			<span class="product-prev__country">Франция</span>
		</div>
		<div class="product-prev__price">
			<span class="product-prev__price-current">2300 грн.</span>
			<span class="product-prev__price-old">5000 грн.</span>
		</div>
	</div>
	<div class="product-prev__footer">
		<button class="btn">В корзину</button>
	</div>
</div>