@import "news";
@import "review";
@import "brands";

.info {
	display: flex;
	@media screen and(max-width: $tablet_size) {
		flex-wrap: wrap;
	}
	& > * {
		flex: 1;
		padding-right: 30px;
		&:last-child {
			padding-right: 0;
		}
		@media screen and(max-width: $tablet_size) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
	&-item {
		&__body {
			min-height: 222px;
		}
		&__footer {
			margin-top: 20px;
			display: flex;
			& > * {
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__link {
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			color: $mine_shaft;
			border-bottom: 1px solid rgba(38, 38, 38, 0.15);
		}
		&__count {
			color: $chelsea_cucumber;
		}
		&.info-item--wide {
			@media screen and(max-width: $tablet_size) {
				margin-top: 40px;
				flex: 1;
				width: 100%;
			}
			.info-item {
				&__body {
					@media screen and(max-width: $tablet_size) {
						min-height: auto;
					}
				}
			}
		}
	}
}
