.catalog-nav {
	&__list {
		position: relative;
		background-color: $white;
		.catalog-nav__list {
			display: none;
			position: absolute;
			top: 0;
			left: 360px;
		}
	}
	&__item {
		width: 360px;
		@media screen and(max-width: $tablet_size) {
			width: auto;
		}
		&:hover {
			.catalog-nav__list {
				display: block;
			}
			& > .catalog-nav__link {
				background-color: $athens_gray;
				color: $accent_color;
			}
			.catalog-nav__icon {
				fill: $accent_color;
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		// width: 360px;
		padding: 10px 15px;
		line-height: 20px;
		transition: color 0.3s, background-color 0.3s;
		&:hover {
			color: $accent_color;
			background-color: $athens_gray;
			.catalog-nav__icon {
				fill: $accent_color;
			}
		}
	}
	&__icon {
		@include size(12px);
		margin-left: auto;
		fill: $silver;
		transition: fill 0.3s;
	}
}
