// Colors
$white: #fff;
$black: #000;
$accent_color: #ff6d00;
$accent_color_light: #ffb800;
$chelsea_cucumber: #8eb359;
$mine_shaft: #262626;
$tundora: #4b4b4b;
$mid_gray: #6e6e6f;
$dusty_gray: #999999;
$athens_gray: #eef2f4;
$silver_chalice: #a9a9a9;
$wild_sand: #f6f6f6;
$silver: #ccc;
$alto: #ddd;
$oslo_gray: #939495;
$porcelain: #f6f8f9;

$placeholder_color: #a6a6a6;

// Sizes
$baze_font_size: 14px;
$content_size: 1140px;
$tablet_size: 1139px;

// Fonts
$main_font: "Open Sans", Arial, sans-serif;
