<div class="product-prev">
	<div class="product-prev__header">
		<div class="js-product-prev__slider">
			<img src="img/content/products/new/13060.jpg" alt="Роликовые коньки Hudora Roller Skates Silver Glamour">
		</div>
	</div>
	<div class="product-prev__body">
		<div class="product-prev__info">
			<span class="product-prev__title">Роликовые коньки Hudora Roller Skates Silver Glamour, 36(13060)</span>
			<span class="product-prev__country">Германия</span>
		</div>
		<div class="product-prev__price">
			<span class="product-prev__price-current">5199 грн.</span>
			<span class="product-prev__price-old">6000 грн.</span>
		</div>
	</div>
	<div class="product-prev__footer">
		<button class="btn">В корзину</button>
	</div>
</div>