<div class="product-prev">
	<div class="product-prev__header">
		<div class="js-product-prev__slider">
			<img src="img/content/products/new/13154.jpg" alt="Ролики-квады HUDORA Skate Wonders Розовый, 39/40 (13154)">
		</div>
	</div>
	<div class="product-prev__body">
		<div class="product-prev__info">
			<span class="product-prev__title">Ролики-квады HUDORA Skate Wonders Розовый, 39/40 (13154)</span>
			<span class="product-prev__country">Германия</span>
		</div>
		<div class="product-prev__price">
			<span class="product-prev__price-current">3000 грн.</span>
			<span class="product-prev__price-old">4500 грн.</span>
		</div>
	</div>
	<div class="product-prev__footer">
		<button class="btn">В корзину</button>
	</div>
</div>