<div class="product-prev">
	<div class="product-prev__header">
		<div class="js-product-prev__slider prev-2">
			<img src="img/content/products/hits/product-2/4569.jpg" alt="Двухколесный велосипед Crusader Alu light">
			<img src="img/content/products/hits/product-2/4462.jpg" alt="Двухколесный велосипед Puky Skyride Alu light">
			<img src="img/content/products/hits/product-2/4464.jpg" alt="Двухколесный велосипед Puky Skyride Alu light">
		</div>
	</div>
	<div class="product-prev__body">
		<div class="product-prev__info">
			<span class="product-prev__title">Двухколесный велосипед Crusader 20-3 Alu light</span>
			<span class="product-prev__country">Германия</span>
		</div>
		<div class="product-prev__price">
			<span class="product-prev__price-current">1500 грн.</span>
			<span class="product-prev__price-old">1500 грн.</span>
		</div>
		<div class="product-prev__colors">

		</div>
	</div>
	<div class="product-prev__footer">
		<button class="btn">В корзину</button>
	</div>
</div>