<div class="header__mobile">
	<div class="container">
		<div class="header__mobile-inner">
			<div class="mobile-menu">
				<div class="mobile-menu__toggle">
					<div class="mobile-menu__sandwich sandwich">
						<div class="sandwich__line sandwich__line--top"></div>
						<div class="sandwich__line sandwich__line--middle"></div>
						<div class="sandwich__line sandwich__line--bottom"></div>
					</div>
					<span class="mobile-menu__title">Каталог товаров</span>
				</div>
				<div class="mobile-menu__content">
					<div class="mobile-menu__header">
						<span class="mobile-menu__title">Меню</span>
						<div class="mobile-menu__close">
							<svg class="mobile-menu__close-icon">
								<use xlink:href="img/icons/icons.svg#close"></use>
							</svg>
						</div>
					</div>
					<div class="mobile-menu__body">
						<nav class="catalog-nav">
							<ul class="catalog-nav__list">
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Самокаты
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Беговелы
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Велосипеды
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Ролики
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Скейты
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Батуты
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Аксессуары и запчасти
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Зимний спорт
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
								<li class="catalog-nav__item">
									<a href="#" class="catalog-nav__link">
										Настольные игры
										<svg class="catalog-nav__icon">
											<use xlink:href="img/icons/icons.svg#chevron_right"></use>
										</svg>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="inform-nav inform-nav--col">
							<ul class="inform-nav__list">
								<li class="inform-nav__item">
									<a href="#" class="inform-nav__link">О компании</a>
								</li>
								<li class="inform-nav__item">
									<a href="#" class="inform-nav__link">Доставка и оплата</a>
								</li>
								<li class="inform-nav__item">
									<a href="#" class="inform-nav__link">Акции</a>
								</li>
								<li class="inform-nav__item">
									<a href="#" class="inform-nav__link">Оптовикам</a>
								</li>
								<li class="inform-nav__item">
									<a href="#" class="inform-nav__link">Новости</a>
								</li>
								<li class="inform-nav__item">
									<a href="#" class="inform-nav__link">Гарантии</a>
								</li>
								<li class="inform-nav__item">
									<a href="#" class="inform-nav__link">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="mobile-menu__footer">
						<div class="mobile-menu__phone">
							<a href="tel:+380440000000" class="mobile-menu__phone-number">+38 (044) 000-00-00</a>
							<a href="#" class="mobile-menu__phone-link">Заказать звонок</a>
						</div>
						<div class="mobile-menu__phone">
							<a href="tel:8000000000" class="mobile-menu__phone-number">(800) 000-00-00</a>
							<span class="mobile-menu__phone-text">Звонок бесплатный</span>
						</div>
					</div>
				</div>
			</div>
			<div class="search">
				<form class="search__form">
					<div class="search__input-wrapper">
						<input class="search__input" type="text" placeholder="Я хочу купить...">
						<div class="search__clear">
							<svg class="search__clear-icon">
								<use xlink:href="img/icons/icons.svg#close"></use>
							</svg>
						</div>
					</div>
					<input class="search__btn" type="submit" value="Найти">
				</form>
			</div>
		</div>
	</div>
</div>