<div class="header__mobile">
	<div class="container">
		<div class="header__mobile-inner">
			<nav class="mobile-nav">
				<div class="mobile-nav__header">
					<div class="mobile-nav__sandwich sandwich">
						<div class="sandwich__line sandwich__line--top"></div>
						<div class="sandwich__line sandwich__line--middle"></div>
						<div class="sandwich__line sandwich__line--bottom"></div>
					</div>
					<span class="mobile-nav__title">Каталог товаров</span>
				</div>
				<div class="mobile-nav__body">
					<ul class="mobile-nav__list">

					</ul>
				</div>
			</nav>
			<div class="search">
				<form class="search__form">
					<div class="search__input-wrapper">
						<input class="search__input" type="text" placeholder="Я хочу купить...">
						<div class="search__clear">
							<svg class="search__clear-icon">
								<use xlink:href="img/icons/icons.svg#close"></use>
							</svg>
						</div>
					</div>
					<input class="search__btn" type="submit" value="Найти">
				</form>
			</div>
		</div>
	</div>
</div>