<div class="header__main">
	<div class="container">
		<div class="header__content">
			<a href="index.html" class="header__logo logo">
				<img class="logo__img" src="img/general/logo.svg" alt="Baby Toys">
			</a>
			<div class="header__phones">
				<div class="header__item header__item--mobile">
					<a href="tel:+380440000000" class="header__phone">+38 (044) 000-00-00</a>
					<a href="#" class="header__link">Заказать звонок</a>
				</div>
				<div class="header__item">
					<a href="tel:8000000000" class="header__phone">(800) 000-00-00</a>
					<span class="header__description">Звонок бесплатный</span>
				</div>
			</div>
			<div class="header__address header-address">
				<svg class="header-address__icon">
					<use xlink:href="img/icons/icons.svg#location"></use>
				</svg>
				<span class="header-address__text">г. Киев, ул. Ирпенская, 76, 2 этаж</span>
			</div>
			<div class="header__shop">
				<div class="header-goods">
					<span class="header-goods__price">0 &#8372;</span>
					<span class="header-goods__count">0 товаров</span>
				</div>
				<div class="header-basket">
					<svg class="header-basket__icon">
						<use xlink:href="img/icons/icons.svg#basket"></use>
					</svg>
					<div class="header-basket__text">Корзина</div>
				</div>
			</div>
		</div>
	</div>
</div>