<div class="header__top">
	<div class="container">
		<div class="header__content">
			<nav class="header__nav header-nav">
				<ul class="header-nav__list">
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">О компании</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Доставка и оплата</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Акции</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Оптовикам</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Новости</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Гарантии</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Контакты</a>
					</li>
				</ul>
			</nav>
			<nav class="header__nav header__nav--right header-nav">
				<ul class="header-nav__list">
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Регистрация</a>
					</li>
					<li class="header-nav__item">
						<a href="#" class="header-nav__link">Вход</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>