.products-line-slider {
	&__navigation {
		align-items: center;
		justify-content: space-between;
		display: none;
		@media screen and(max-width: $tablet_size) {
			display: flex;
		}
	}
	&__btn {
		@include size(40px);
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $alto;
		border-radius: 2px;
		&:hover {
			.products-line-slider__icon {
				transform: scale(1.5);
			}
		}
	}
	&__icon {
		@include size(15px);
		fill: $accent_color;
		transition: transform 0.3s;
	}
	&__dots {
		.slick-dots {
			display: flex;
			li {
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				&.slick-active {
					.products-line-slider__dot {
						background-color: $accent_color;
					}
				}
			}
		}
	}
	&__dot {
		cursor: pointer;
		@include size(10px);
		display: block;
		border-radius: 10px;
		background-color: $alto;
	}
}
