<nav class="header__main-nav main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__item">
			<a href="#" class="main-nav__link">Самокаты</a>
			@@include('_main-nav-dropdown-1.html')
		</li>
		<li class="main-nav__item"><a href="#" class="main-nav__link">Беговелы</a></li>
		<li class="main-nav__item"><a href="#" class="main-nav__link">Велосипеды</a></li>
		<li class="main-nav__item"><a href="#" class="main-nav__link">Ролики</a></li>
		<li class="main-nav__item"><a href="#" class="main-nav__link">Скейты</a></li>
		<li class="main-nav__item"><a href="#" class="main-nav__link">Батуты</a></li>
		<li class="main-nav__item">
			<a href="#" class="main-nav__link">Аксессуары и запчасти</a>
			@@include('_main-nav-dropdown-1.html')
		</li>
		<li class="main-nav__item">
			<a href="#" class="main-nav__link more">
				<span class="main-nav__text">Еще</span>
				<svg class="main-nav__icon">
					<use xlink:href="img/icons/icons.svg#chevron_down"></use>
				</svg>
			</a>
		</li>
	</ul>
</nav>