<div class="main-nav__dropdown-wrapper">
	<div class="main-nav__dropdown">
		<ul class="catalog-nav__list">
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Взрослые самокаты</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
				<ul class="catalog-nav__list">
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">Двухколесные</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">Трехколесные</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">С большими колесами</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">С надувными колесами</a></li>
				</ul>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Детские самокаты</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
				<ul class="catalog-nav__list">
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">Двухколесные</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">Трехколесные</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">С большими колесами</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">С надувными колесами</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">3 в 1</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">4 в 1</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">5 в 1</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">Со светящимися колесами</a></li>
				</ul>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Городские самокаты</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
				<ul class="catalog-nav__list">
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">С большими колесами</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">С надувными колесами</a></li>
				</ul>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Складные самокаты</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Трюковые самокаты</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Электросамокаты</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
				<ul class="catalog-nav__list">
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">Городские</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">Двухколесные</a></li>
					<li class="catalog-nav__item"><a href="#" class="catalog-nav__link">С большими колесами</a></li>
				</ul>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Самокаты с двумя амортизаторами</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Самокаты Globber</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Самокаты Micro</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Самокаты от года</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
			</li>
			<li class="catalog-nav__item">
				<a href="#" class="catalog-nav__link">
					<span class="catalog-nav__text">Самокаты Puky</span>
					<svg class="catalog-nav__icon">
						<use xlink:href="img/icons/icons.svg#chevron_right"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</div>