<footer class="footer">
	<div class="footer__main">
		<div class="container">
			<div class="footer__main-inner">
				<div class="footer__navigation">
					<div class="footer__item">
						<ul class="footer-nav">
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Самокаты</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Беговелы</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Велосипеды</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Роликовые коньки</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Скейты</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Батуты</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Детский спорт и отдых</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Аксессуары и запчасти</a>
							</li>
						</ul>
					</div>
					<div class="footer__item">
						<ul class="footer-nav">
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">О компании</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Доставка</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Оплата</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Поставщикам</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Новости</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Отзывы</a>
							</li>
						</ul>
					</div>
					<div class="footer__item footer__item--wide">
						<ul class="footer-nav">
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Контакты</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Вопросы и ответы</a>
							</li>
							<li class="footer-nav__item">
								<a href="#" class="footer-nav__link">Карта сайта</a>
							</li>
						</ul>
						<div class="footer__adress">г. Киев, ул. Ирпенская, 76, 2 этаж</div>
					</div>
				</div>
				<div class="footer__contacts">
					<div class="footer__phones">
						<a href="tel:8000000000" class="footer__phone">(800) 000-00-00</a>
						<span class="footer__text">Звонок бесплатный</span>
						<a href="tel:" class="footer__phone-additional">(067) 000-00-00</a>
					</div>
					<a href="mailto:sale@baby-toys.com.ua" class="footer__mail">sale@baby-toys.com.ua</a>
				</div>
				<div class="footer__contacts-mobile">
					<div class="footer__item">
						<a href="tel:8000000000" class="footer__phone">(800) 000-00-00</a>
						<span class="footer__text">Звонок бесплатный</span>
					</div>
					<div class="footer__item footer__item--text-right">
						<a href="tel:+380670000000" class="footer__phone-additional">(067) 000-00-00</a>
						<a href="mailto:sale@baby-toys.com.ua" class="footer__mail">sale@baby-toys.ua</a>
					</div>
					<div class="footer__item footer__item--full">
						<div class="yandex-market">
							<img src="img/general/yandex.svg" alt="Яндекс">
							<a href="##" class="btn btn--small btn--transparent-gray btn--inline">Оставить отзыв</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__socials">
		<div class="container">
			<div class="footer__inner">
				<ul class="socials">
					<li class="socials__item">
						<a href="#" class="socials__link">
							<img src="img/general/socials/instagram.svg" alt="Instagram" class="socials__icon">
							<span class="socials__name">Instagram</span>
						</a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link">
							<img src="img/general/socials/facebook.svg" alt="Facebook" class="socials__icon">
							<span class="socials__name">Facebook</span>
						</a>
					</li>
				</ul>
				<div class="yandex-market">
					<img src="img/general/yandex.svg" alt="Яндекс">
					<a href="##" class="btn btn--small btn--transparent-gray btn--inline">Оставить отзыв</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__inner">
				<span class="copyright">&copy; 2010-2020 «Baby-Toys». Все права защищены. Информация сайта защищена законом
					об
					авторских правах.
				</span>
				<a href="##" class="footer__personal-data">Политика обработки персональных данных</a>
			</div>
		</div>
	</div>
</footer>